/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


h1{
    color:#000;
}
h3 {
    color: #818181;
}
.about p, .my-skills p, .feedback-text p {
    color:#fff;
}

h2 {
    color: #fff;
}

@media screen and (min-width: 600px) {
    .col-1 {
        width: 8.33%
    }
    .col-2 {
        width: 16.66%
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

.anchor {
    height: 40px;
    margin-top: -40px;
    visibility: hidden;
}

@media screen and (min-width: 600px) {
    #main-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: 100%;
    }
    .anchor {
        height: 0;
        margin: 0;
    }
}

/* ----- MAIN CONTENT ---- */

#main-container {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background: black;
    width: 100%;
}

#main-column {
    max-width: 1028px;
    margin: auto;
}

.title {
    margin-top: 0;
    text-align: center;
}

.title h1 {
    font-size: 4em;
    font-weight: normal;
    margin-bottom: 30px;
}

.title-img img {
    width: 100%;
    height: auto;
}

/* ----- ABOUT ---- */

.about p {
    text-align: justify;
}


/* ----- MY SKILLS ---- */

.my-skills {
    margin-top: 35px;
}

.my-skills p {
    letter-spacing: 4px;
}

.skills-chart {
    width: 100%;
    background:  #818181
}

.skills-chart div {
    height: 25px;
    background:#FCA311;
}

#skill-photo {
    width: 95%
}

#skill-des {
    width: 85%
}

#skill-phshop {
    width: 75%
}


/* ----- STATS ---- */

.stats {
    padding: 16px 24px 16px;
}

.stats-item {
    height: 120px;
    background: #e5e5e5;
    color: #0c0c0c;
    text-align: center;
    padding: 30px 4px 4px;
}

.stats-item span {
    display: inline-block;
    font-size: 1.6em;
    margin-bottom: 3px;
}


/* ----- MY REPUTATION ----- */

.testimonials h2 {
    margin-bottom: 34px;
}

.rep-feedback {
    overflow: auto;
    margin-bottom: 24px;
}

.rep-feedback img {
    width: 80px;
    height: auto;
    border-radius: 80px;
    display: block;
    float: left;
    margin-right: 20px;
}

.feedback-text {
    padding-top: 4px;
}

.feedback-text h3 {
    margin-top: 0
}

.feedback-text h3 span {
    font-size: 0.8em;
    display: inline-block;
    margin-left: 10px;
}

.container-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
}

.typewriter {
    font-family: sans-serif;
    color: #fff;
    padding-left: 30px;
    display: block;
}

.typewriter-text {
    padding-right: 10px;
    color: #FCA311;
    border-right: solid#FCA311 7px;
    text-transform: uppercase;
    -webkit-animation: cursor 1s ease-in-out infinite;
            animation: cursor 1s ease-in-out infinite;
    font-weight: bold;
}

@-webkit-keyframes cursor {
    from {
        border-color: #FCA311;
    }
    to {
        border-color: transparent;
    }
}

@keyframes cursor {
    from {
        border-color: #FCA311;
    }
    to {
        border-color: transparent;
    }
}