<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="store-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Store
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="store-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'photos' %}" class="dropdown-item">All Photos</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="gallery-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gallery
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gallery-link">
                <a href="" class="dropdown-item">Cities</a>
                <a href="" class="dropdown-item">Landscapes</a>
                <a href="" class="dropdown-item">Dynamic</a>
                <a href="" class="dropdown-item">All Photos</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="deals-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Deals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="deals-link">
                <a href="" class="dropdown-item">New Shots</a>
                <a href="" class="dropdown-item">Offers</a>
            </div>
        </li>
    </ul>
</div>