<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="store-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Store
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="store-link">
                <a href="{% url 'photos' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'photos' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'photos' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'photos' %}" class="dropdown-item">All Photos</a>
            </div>
        </li>

        <li class="nav-item">
            <div class="border-0" aria-labelledby="deals-link">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'photos' %}?category=city_life,landscapes,natural_world,concerts" id="gallery-link" aria-haspopup="true" aria-expanded="false">
                Gallery
            </a>
            </div>
        </li>

        <li class="nav-item">
            <div class="border-0" aria-labelledby="deals-link">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'photos' %}?category=concerts" id="deals-link" aria-haspopup="true" aria-expanded="false">
                Deals
            </a>
            </div>
        </li>

        <li class="nav-item">
            <div class="border-0" aria-labelledby="new-shots-link">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'photos' %}?category=natural_world" id="new-shots-link" aria-haspopup="true" aria-expanded="false">
                New Shots
            </a>
        </div>
        </li>

    </ul>
</div>