{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'about/css/about.css' %}">
{% endblock %}

{% block page_header %}

    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section>
    <div>
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <hr>
                    <h1 class="logo-font mb-4">About </h1>
                    <hr>
                </div>
            </div>
        </div>
    </div>


    <!------ MAIN CONTENT ------>

    <div id='main-container'>
        <div id='main-column'>
            <div class='row'>
                <div class='col-12'>
                    <h3 class='typewriter'>I'm 
                        <span class='typewriter-text' data-text='[ "Paprika. ","photographer. ", "developer. "]'></span>
                    </h3>
                </div>
            </div>
            <div class='title-img'>
                <img src="{{ MEDIA_URL }}about_pic.jpg" alt='photographer' width='992px' height='1108px' />
            </div>

            <!------ ABOUT ----->

            <div class='row'>
                <div class='col-12'>
                    <div class='anchor' id='about'></div>
                    <div class='about'>
                        <h2>Paprika</h2>
                        <hr />
                        <p>I'm photographer and I want to give people experiences they would otherwise never have experienced. I'm here to preserve the moments that otherwise would have been forgotten.</p>
                    </div>

                    <!------- MY SKILLS ------>
                    
                    <div class='my-skills'>
                        <h2>My Skills</h2>
                        <p>Photography</p>
                        <div class='skills-chart'>
                            <div id='skill-photo'></div>
                        </div>

                        <p>Web Design</p>
                        <div class='skills-chart'>
                            <div id='skill-des'></div>
                        </div>

                        <p>Photoshop</p>
                        <div class='skills-chart'>
                            <div id='skill-phshop'></div>
                        </div>
                    </div>
                </div>
            </div>

            <!------- STATS ------->
      
            <div class='row stats'>
                <div class='col-3 stats-item'>
                    <span>5+</span><br /> Partners
                </div>
                <div class='col-3 stats-item'>
                    <span>25+</span><br /> Projects Done
                </div>
                <div class='col-3 stats-item'>
                    <span>60+</span><br /> Happy Clients
                </div>
                <div class='col-3 stats-item'>
                    <span>+88</span><br /> Meetings
                </div>
            </div>
            <!-------- Testimonials ------->
         
            <div class='row'>
                <div class='col-12 testimonials'>
                    <h2>My Reputation</h2>
                    <div class='rep-feedback'>
                        <img src="{{ MEDIA_URL }}customer-1.jpg" alt='man portrait' width='300px' height='300px' />
                        <div class='feedback-text'>
                            <h3>George Smith </h3>
                            <p>"The best photolab in the world. I've tried places in Dublin and nothing holds a candle to the results you get here."" </p>
                        </div>
                    </div>
                    <div class='rep-feedback'>
                        <img src="{{ MEDIA_URL }}customer-2.jpg" alt='woman portrait' width='300px' height='300px' />
                        <div class='feedback-text'>
                            <h3>Melissa Hamilton</h3>
                            <p>"Great shots of Dublin and Ireland" </p>
                        </div>
                    </div>
                    <div class='rep-feedback'>
                        <img src="{{ MEDIA_URL }}customer-3.jpg" alt='man portrait' width='300px' height='300px'  />
                        <div class='feedback-text'>
                            <h3>Jack Norris</h3>
                            <p>"The quality of prints is good, the selection is good, I will certainly be a repeat customer."</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

{% endblock %}

{% block postloadjs %}
    <script src="{% static 'about/js/about.js' %}"></script>
{% endblock %}