{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}


<div>
    <div>
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <hr>
                    <h1 class="logo-font mb-4">Contact </h1>
                    <hr>
                </div>
            </div>
        </div>

<!-- ----- MAIN CONTENT ----- -->
<div id='main-container'>
    <div id='main-column'>
        <div class='row'>
            <div class='col-12 contacts'>
                <div class='anchor' id='contacts'></div>
                <hr />
                <ul>
                    <li>
                        <div>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </div>
                        Dublin, Ireland
                    </li>
                    <li>
                        <div>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        Phone: +0035 123498765
                    </li>
                    <li>
                        <div>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        Email: paprikapatrik@gmail.com
                    </li>
                </ul>
                <p>Let's get in touch. Send me a message:</p>              
                <form>
                    <input type='text' name='name' placeholder='Name' />
                    <input type='email' name='email' placeholder='E-mail' />
                    <input type='text' name='subject' placeholder='Subject' />
                    <input type='text' name='message' placeholder='Message' />
                    <button type='button'><i class="fa fa-paper-plane" aria-hidden="true"></i> Send message</button>
                </form>          
            </div>
            <div class='row footer'>
                <div class='col-12'>
                    <p>Follow us:</p>  
                        <ul class="social-icons-list">
                            <li>
                                <a target="_blank" href="https://www.facebook.com/">
                                    <i class="fab fa-facebook-f fa-sm" aria-hidden="true"></i>
                                    <span class="sr-only">Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.instagram.com/">
                                    <i class="fab fa-instagram fa-sm" aria-hidden="true"></i>
                                    <span class="sr-only">Instagram</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.linkedin.com/">
                                    <i  class="fa fa-linkedin fa-sm" aria-hidden="true"></i>
                                    <span class="sr-only">Linkedin</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://twitter.com/">
                                    <i  class="fa fa-twitter fa-sm" aria-hidden="true"></i>
                                    <span class="sr-only">Twitter</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>          
</div>
{% endblock %}
